@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  background: #414141;
  padding: 16px 24px;
  margin-bottom: 56px;

  @include respond-to(sm) {
    padding: 12px;
    margin-bottom: 24px;
  }
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 4px;
}

.title {
  color: white;
  font-size: 15px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.15px;
  margin: 0;
  width: 96px;
}

.date {
  color: white;
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.11px;
}

.scrollContainer {
  max-height: 192px;
  overflow-y: auto;
  padding-right: 24px;

  // Custom scrollbar
  &::-webkit-scrollbar {
    width: 6px;
    background: #777777;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $bg-active-color;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $active-color;
  }

  @include respond-to(sm) {
    padding-right: 12px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 40px;

  @include respond-to(sm) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.entry {
  display: flex;
  gap: 12px;
  padding-bottom: 2px;
  border-bottom: 1px solid #777777;
}

.bullet {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-top: 0.5rem;
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.nameRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name {
  color: white;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.08px;
  flex: 1;
}

.duration {
  color: $bg-active-color;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.09px;
}

.calories {
  color: $bg-active-color;
  font-size: 15px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.08px;
}
