@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  &--full-width {
    width: 100%;
  }
}

.label {
  font-weight: 500;
  color: $dark;
  font-size: 0.875rem;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $dark;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: $border-radius;
  transition: $transition-base;

  &:focus {
    outline: 0;
    border-color: $primary;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
  }

  &:disabled {
    background-color: $light;
    opacity: 0.65;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $secondary;
    opacity: 1;
  }

  &--error {
    border-color: $danger;

    &:focus {
      border-color: $danger;
      box-shadow: 0 0 0 0.2rem rgba($danger, 0.25);
    }
  }
}

.error {
  color: $danger;
  font-size: 0.875rem;
  margin-top: -0.25rem;
}

.helperText {
  color: $secondary;
  font-size: 0.875rem;
  margin-top: -0.25rem;
}
