@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: $border-radius-lg;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  @include flex-center;
  color: #fff;
  font-size: 1.25rem;
}

.progressOverlay {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.progressSvg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progressContent {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1;
  margin-top: 0.5rem;
}

.date {
  font-size: 0.875rem;
  opacity: 0.9;
  margin-bottom: 0.25rem;
}

.percentage {
  font-size: 1.5rem;
  font-weight: 700;
}
