@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  width: 100%;
  height: 100%;
  min-height: 316px;

  @include respond-to(sm) {
    min-height: 280px;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 316px;
  overflow: hidden;

  @include respond-to(sm) {
    min-height: 280px;
  }
}

.image {
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  @include flex-center;
  color: #fff;
  font-size: 1.25rem;
}

.progressOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressSvg {
  position: absolute;
  width: 181px;
  height: 181px;
}

.progressContent {
  position: relative;
  color: #fff;
  z-index: 1;
  display: flex;
  align-items: end;
  gap: 4px;
}

.date {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
  text-shadow: 0px 0px 6px rgba(252, 116, 0, 1.00)
}

.percentage {
 font-size: 25px;
 font-family: Inter;
 font-weight: 400;
 line-height: 30px;
 word-wrap: break-word;
 text-shadow: 0px 0px 6px rgba(252, 165, 0, 1.00)
}
