@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-bottom: 24px;

  @include respond-to(md) {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 2px solid #707070;
  padding: 16px;
  min-height: 144px;
  transition: $transition-base;

  &:hover {
    box-shadow: $box-shadow;
    transform: translateY(-2px);
  }
}

.dateTime {
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.09px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 12px;
}

.title {
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.11px;
  margin-bottom: 4px;
}

.content {
  font-size: 12px;
  line-height: 17px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

