// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import Custom Styles
@import "./variables";
@import "./mixins";
@import "./bootstrap-custom";
@import "./typography";
@import "./utilities";

// Global Styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $dark;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// Scrollbar Styling
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $light;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 4px;

  &:hover {
    background: darken($secondary, 10%);
  }
}

// Loading Animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}
