@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  margin-bottom: 56px;

  @include respond-to(md) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.card {
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  text-decoration: none;
  transition: $transition-base;
  border: 24px solid $bg-active-color;

  &:hover {
    transform: translateY(-4px);
    box-shadow: $box-shadow-lg;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 65%);
  z-index: 1;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

.title {
  font-size: 25px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: $bg-active-color;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.12px;
  margin-bottom: 11px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: $active-color;
  line-height: 20px;
  width: 160px;
  margin: 0;
  padding: 2px 0;
}
