@import "../styles/variables";
@import "../styles/mixins";

.container {
  padding-bottom: 64px;

  @include respond-to(md) {
    padding-bottom: 24px;
  }
}

.topPage {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 0;
  margin-bottom: 24px;

  @include respond-to(sm) {
    grid-template-columns: 1fr;
  }
}

.topPageBanner {
  position: relative;
  width: 100%;
  min-height: 180px;
  overflow: hidden;
}

.topPageChart {
  position: relative;
  width: 100%;
  min-height: 180px;
  background: #2E2E2E;
  padding: 12px 98px 12px 53px;
  display: flex;
  flex-direction: column;

  @include respond-to(lg) {
    padding: 12px;
  }

  @include respond-to(sm) {
    padding: 6px;
  }
}

.mealCategories {
}

.mealLogSection {
}
