@import "../styles/variables";
@import "../styles/mixins";

.container {
  padding-bottom: 64px;
}

.topPage {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 0;
  margin-bottom: 24px;
}

.topPageBanner {
  position: relative;
  width: 100%;
  min-height: 180px;
  overflow: hidden;

  @include respond-to(md) {
    min-height: 250px;
  }
}

.topPageChart {
  position: relative;
  width: 100%;
  min-height: 180px;
  background: #2E2E2E;
  padding: 12px 98px 12px 53px;
  display: flex;
  flex-direction: column;

  @include respond-to(md) {
    min-height: 250px;
    padding: 1rem;
  }
}

.mealCategories {
}

.mealLogSection {
}
