@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.loadingWrapper {
  @include flex-center;
  flex-direction: column;
  gap: 1rem;

  &--full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
  }
}

.spinner {
  border: 3px solid $light;
  border-top-color: $primary;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;

  &--sm {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 2px;
  }

  &--md {
    width: 3rem;
    height: 3rem;
    border-width: 3px;
  }

  &--lg {
    width: 4.5rem;
    height: 4.5rem;
    border-width: 4px;
  }
}

.text {
  color: $secondary;
  font-size: 0.875rem;
  margin: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
