@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.footer {
  background: #414141;
  padding: 56px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
  transition: $transition-base;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.03px;
  font-size: 11px;

  &:hover {
    color: $active-color;
  }
}
