@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  background: $dark;
  padding: 16px 26px;
  margin-bottom: 56px;

  @include respond-to(sm) {
    padding: 12px;
    margin-bottom: 24px;
  }
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2px;
}

.title {
  color: white;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.15px;
  margin: 0;
  width: 96px;
}

.date {
  color: white;
  font-size: 22px;
  font-family: Inter;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.11px;
}

.chartContainer {
  margin-bottom: 8px;
  min-height: 180px;
}

.filters {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.filterButton {
  background: #fff;
  color: $bg-active-color;
  border: none;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.08px;
  border-radius: 11px;
  cursor: pointer;
  transition: $transition-base;
  min-width: 56px;
  text-align: center;

  &:hover {
    background: rgba(255, 255, 255, 0.9);
  }

  &.active {
    background: $bg-active-color;
    color: #fff;
  }
}
