@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  background: #2e2e2e;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.chart {
  width: 100%;
  height: 275px;
}

.monthLabel {
  font-size: 3.2px;
  fill: rgba(255, 255, 255, 0.6);
}
