@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  width: 100%;
  position: relative;
}

.chart {
  width: 100%;
  height: 100%;
  display: block;
}

.label {
  font-size: 12px;
  fill: #ffffff;
}

.monthNumber {
  fill: white;
  font-size: 4px;
  font-family: Inter;
  font-weight: 400;
  line-height: 15px;
  dominant-baseline: middle;
}

.monthChar {
  fill: white;
  font-size: 2.8px;
  font-weight: 300;
  line-height: 12px;
  dominant-baseline: middle;
}
