@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.chart {
  width: 100%;
  height: 275px;
}

.monthNumber {
  fill: white;
  font-size: 4px;
  font-family: Inter;
  font-weight: 400;
  line-height: 15px;
  dominant-baseline: middle;
}

.monthChar {
  fill: white;
  font-size: 3px;
  font-weight: 300;
  line-height: 12px;
  dominant-baseline: middle;
}
