@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  background: #2e2e2e;
  border-radius: $border-radius-lg;
  padding: 1.5rem;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.chartWrapper {
  flex: 1;
  position: relative;
  margin-bottom: 1rem;
}

.chart {
  width: 100%;
  height: 100%;
}

.xAxis {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.monthLabel {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  text-align: center;
  flex: 1;
}
